<% if (captionsData.length) { %>
  <div class="bigscreen-caption-control">
    <div class="bigscreen-control-headline">
      Caption Language
    </div>
    <ul>
      <li data-caption-language="none">
        <input type="radio"
          name="bigscreen-caption-language"
          id="bigscreen-caption-language-none"
          value="none"
          checked>
        <span class="bigscreen-label-value">None</span>
      </li>

      <% for (var i in captionsData) { %>
        <% var track = captionsData[i] %>
        <li data-caption-language="<%= track.language %>">
          <input type="radio"
            name="bigscreen-caption-language"
            id="bigscreen-caption-language-<%= track.language %>"
            value="<%= track.language %>">
          <span class="bigscreen-label-value"><%= track.title %></span>
        </li>
      <% } %>
    </ul>
  </div>
<% } %>
